<div class="user-dashboard">
  <h2 class="centered-title">Movies Library</h2>

  <div class="search-section">
    <input
    type="text"
    [(ngModel)]="searchTerm"
    (ngModelChange)="searchMovies()"
    placeholder="Filter by title"
  />
  <!-- <button (click)="searchMovies()">Search</button> -->
  </div>

  <div *ngFor="let movie of movies" class="movie-card">
    <h3>{{ movie.title }}</h3>
    <p><strong>Type:</strong> {{ movie.type }}</p>
    <p><strong>Genre:</strong> {{ movie.genre }}</p>

    <button (click)="toggleDetails(movie)">
      {{ movie.showDetails ? 'Hide Details' : 'More Details' }}
    </button>

    <div *ngIf="movie.showDetails" class="details">
      <div class="detail-grid">
        <p><strong>Year:</strong> {{ movie.year }}</p>
        <p><strong>Runtime:</strong> {{ movie.runtime }}</p>
        <p><strong>Director:</strong> {{ movie.director }}</p>
        <p><strong>Actors:</strong> {{ movie.actors }}</p>
        <p><strong>Language:</strong> {{ movie.language }}</p>
        <p><strong>Release Date:</strong> {{ movie.releaseDate }}</p>
      </div>

      <div class="rating-section">
        <div class="rating-info">
          <p><strong>Your Rating:</strong> {{ movie.userRating || 'Not rated yet' }}</p>
          <p><strong>Average Rating:</strong> {{ movie.averageRating?.toFixed(1) || 'N/A' }}</p>
        </div>

        <div class="rating-input">
          <div class="stars">
            <span
              *ngFor="let star of [1, 2, 3, 4, 5]"
              (click)="movie.userRating = star"
              [class.filled]="star <= (movie.userRating ?? 0)"
              >&#9733;</span
            >
          </div>
          <button (click)="rateMovie(movie)">Rate</button>
        </div>
      </div>

      <hr />
    </div>
  </div>
</div>
